<div class="hw-inherit">
    <div class="grid-8x0-gap2 p1">
        <h1 class="txt-deepskyblue">Forename</h1>
        <h1 class="txt-deepskyblue">Surname</h1>
        <h1 class="txt-deepskyblue">Email</h1>
        <h1 class="txt-deepskyblue">Phone</h1>
        <h1 class="txt-deepskyblue">Company</h1>
        <h1 class="txt-deepskyblue">Role</h1>
        <h1 class="txt-deepskyblue">Description</h1>
        <a class="btn-electric fire" href="/">Home</a>
        {{#each employees}}
            {{#with this}}
                <p class="cap xlg txt-white">{{forename}}</p>
                <p class="cap xlg txt-white">{{surname}}</p>
                <p class="xlg txt-white">{{email}}</p>
                <p class="xlg txt-white">{{phone}}</p>
                <p class="cap xlg txt-white">{{company}}</p>
                <p class="xlg txt-white all-caps">{{role}}</p>
                <p class="txt-white">{{description}}</p>

                <div class="flex-ctr">
                    <form method="POST" action="/employees/update_form">
                        <input type="hidden" value="{{id}}" name="id"/>
                        <button class="btn luminous-yellow">Update</button>
                    </form>

                    <form method="POST" action="/employees/delete/{{id}}">
                        <button class="btn luminous-red">Delete</button>
                    </form>
                </div>
            {{/with}}
        {{/each}}
    </div>
</div>

<script src="../public/javascripts/grid.js"></script>